<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <!-- Package visibility: only to show which supported messaging apps are installed. -->
    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
        <package android:name="com.google.android.apps.messaging" />
        <package android:name="com.samsung.android.messaging" />
        <package android:name="org.telegram.messenger" />
        <package android:name="org.thoughtcrime.securesms" />
        <package android:name="com.facebook.orca" />
        <package android:name="com.instagram.android" />
    </queries>

    <application
        android:name=".ScamTriageApp"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ScamTriage">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- One-tap checks: the share sheet and the text-selection menu ("Check for scam"). -->
        <activity
            android:name=".CheckActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:label="@string/check_for_scam"
            android:taskAffinity=""
            android:theme="@style/Theme.ScamTriage.Sheet">
            <intent-filter android:label="@string/check_for_scam">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter android:label="@string/check_for_scam">
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- Auto-check: reads incoming message notifications on-device, after the user grants access. -->
        <service
            android:name=".MessageWatcherService"
            android:exported="true"
            android:label="@string/watcher_label"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
            <meta-data
                android:name="android.service.notification.default_filter_types"
                android:value="conversations|alerting" />
        </service>
    </application>
</manifest>
